name: BUILD & TESTS
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  GO_VERSION: 1.21.5

jobs:
  build:
    name: Build 
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      -  name: Set up Go ${{ env.GO_VERSION }}
         uses: actions/setup-go@v5
         with:
           go-version: ${{ env.GO_VERSION }}
           cache-dependency-path: go.sum 

      - name: 
        run: |
            chmod +x ci/scripts/build-test.sh
            ci/scripts/build-test.sh
